*{
    padding: 0;
    margin: 0;
}
:root{
    --color1: #312F2F;
    --color2: #84DCCF;
    --color3: #A6D9F7;
    --color4: #BCCCE0;
    --color5: #BF98A0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: var(--color1);
    background-color: var(--color4);
}
.contenedor{
    width: 85%;
    max-width: 400px;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    padding: 2%;
    border-radius: 15px;
}
.botonera{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.caja{
    background-color: var(--color5);
    width: 100%;
    padding: 2%;
    margin-top: 2%;
    border-radius: 15px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border: 0;
    border-bottom: 3px solid var(--color1);
    background-color: var(--color2);
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    margin: 2px 5px;
}
button:hover{
    background-color: var(--color5);
    transition: 0.7s;
}
.img1 {
    width: 100%;
    height: 290px;
    object-fit: cover;
}
.img2 {
    border-radius: 50%;
   transform: rotate(10deg);
   transition: 0.5s;
   background-color: var(--color2);
}
h1{
    margin: 25%
}
.hide{
    visibility: hidden;
}